[submodule "C-gui/lib/glfw"]
	path = C-gui/lib/glfw
	url = https://github.com/Ilikejavaccpp/C-gui/lib/glfw
[submodule "C-gui/lib/raylib"]
	path = C-gui/lib/raylib
	url = https://github.com/Ilikejavaccpp/C-gui/lib/raylib
